.dashboard {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  padding-top: 10px;
  padding-bottom: 25px;
  background-color: #151515;
  background-image: linear-gradient(to top, #1d1d1d, #1b1b1b, #191919, #171717, #151515);
  font-family: Montserrat;
}

.dashboard-h2 {
  text-align: left;
  color: white;
  width: 100%;
  padding: 10px 4%;
  font-size: 32px;
}

/* Wallet Section */
.dashboard-wallet {
  /* border: 1px dashed yellow; */
  width: 92%;
  color: white;
  font-family: Montserrat;
  display: flex;
}

.dashboard-wallet-text {
  margin-left: 20px;
  flex: 3;
  padding: 20px 0;
  position: relative;
  overflow-y: hidden;
}

.wallet-address {
  margin: 0px 0 10px 0;
  font-size: 20px;
}

.wallet-address-value {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
}

.wallet-balance {
  display: flex;
    justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: -5%;
}

.wallet-balance h3 {
  font-size: 36px;
}

/* Cards Section */
.dashboard-card {
  border: 1px solid #707070;
  border-radius: 10px;
  height: 220px;
  width: 300px;
  flex: 1;
}

.dashboard-card img {
  height: 100%;
  object-fit: contain;
  width: 98%;
}

.dashboard-feature {
  width: 100%;
  padding: 10px 4%;
  display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-feature img {
  /* height: 30%; */
  width:  30%;
  object-fit: cover;
  background-color: #1b1b1b;
}

.dashboard-feature img:nth-child(2) {
  /* height: 35%; */
  width:  35%;
}

.dashboard-feature-time {
  display: flex;
    justify-content: space-between;
  width: 100%;
  padding: 10px 4%;
}

.dashboard-feature-time p {
  color: white;
}

.dashboard-feature-time button {
  color: white;
  text-transform: uppercase;
}

.donate-button{
  width: 170px;
  margin-top: 36px;
  background: linear-gradient(79deg, rgb(250,21,74), rgb(199,0,161));
}