.navbar {
  height: 72px;
  position: fixed;
  width: 100%;
  background-color: #151515;
  padding: 0;
  position: relative;
}

.navbar-main {
  height: 100%;
  /* width: 100%; */
  margin: 0 4%;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left p {
  color: white;
  margin: 0;
}

.navbar-menu {
  height: 32px;
  width: 32px;
  margin: 0;
}

.navbar-right p {
  color: white;
  margin: 0;
}

.brand {
  position: absolute;
    right: calc(50% - 48px);
  color: white;
  font-family: Montserrat;
  height: 100%;
  margin: 0;
}

.navbar-main a {
  height: 24px;
  width: 96px;
}

.navbar-btn {
  margin: 0;
  background-color: white;
  background-image: none;
  color: black;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-btn a {
  color: black;
}

.navbar-btn h2 {
  margin: 0;
}

.navbar-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 35px;
}

@media screen and (max-width: 650px) {
  .brand {
    display: none;
  }
}