.header-navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 70px;
    background: linear-gradient(-270deg, rgb(41, 41, 41), rgb(41, 41, 41), rgb(41, 41, 41));
    /* background: #2a2a2a; */
    z-index: 100;
    display: flex;
        justify-content: space-between;
        align-content: center;
}

body{
    margin: 0px;
    overflow-x: hidden;
}

.header-box{
    color: white;
    margin: 0 1%;
}

.header-login-box{
    margin-right: 2%
}

.header-login-box-child {
    color: white;
}

.landing-paper{
    height: 1500px;
    background: linear-gradient(-270deg, rgb(58, 56, 56), rgb(41, 40, 40), rgb(7, 7, 7));

}

.landing-paper-top{
    height: 500px;
    background: linear-gradient(-270deg, rgb(248, 244, 244), rgb(248, 244, 244), rgb(248, 244, 244));

}

.landing-paper-bot{
    height: 1000px;
    background: linear-gradient(-270deg, rgb(58, 56, 56), rgb(41, 40, 40), rgb(7, 7, 7));
}


.small-card-region{
    width: 90%;
    margin: 2% 2%;
}

.small-card-list{
    width: 1000px;
    max-width: 1000px;
    max-height: 500px;
    overflow: auto;
    background-color: transparent
}

/* Footer */
.footer-container{
    height: 250px;
    bottom: 0px;
    background: linear-gradient(-270deg, rgb(41, 41, 41), rgb(41, 41, 41), rgb(41, 41, 41));
}

.footer-link{
    color: silver
}

.footer-newleter{
    width: 340px;
    height: 40px;
    /* margin-left: 8px; */
    flex: 1;
}

.footer-input{
    margin-top: 3px;
    margin-left: 3px;
}

.footer-button{
    height: 40px;
    width: 40px;
    background: linear-gradient(-270deg, rgb(81, 230, 205, 0.7), rgb(26, 126, 219));
}

.copy-footer{
    color: white;
    margin-top: 2%;
    margin-left: 9%;
}

.logo-header{
    width: 140px;
    height: 70px;
}

.container-fosc{
    max-width: 2000px;
    max-height: 500px;
    height: 300px;
    width: 100%;
}

.inner-fosc{
    max-height: 360px;
    height: 100%;
}

.big-card{
    height: 300px;
}

.front-slide{
    margin: 10px 10px;
}

.button-money{
    width: 150px;
    height: 100px;
    background: transparent
}

.background-img {
    width: 100%;
    height: 98%;
}

.header-artist{
    color: #707070
}

.header-date{
    color: #ffffff
}

.event-title{
    margin: 1% 46%;
}

.dashboard-container{
    background: linear-gradient(-270deg, rgb(58, 56, 56), rgb(41, 40, 40), rgb(7, 7, 7));
    padding: 1%;
}

.banner-title{
    margin-top: 5%;
    color: cadetblue;
}

.home-paper-search{
    padding: 2px 4px;
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
}
.home-header{
    color: aliceblue
}

.home-input{
    margin-left: 8px;
    flex: 1;
}

.home-input-paper{
    height: 33px;
    width: 90px;
    background: linear-gradient(-270deg, rgb(81, 230, 205, 0.7), rgb(26, 126, 219));
    align-items: center;
    display: flex;
    padding: 20px;
}

.landing-bottom{
    height: 200px;
}

.contact-form-confirm{
    /* position: absolute; */
    width: 1000px;
    height: 900px;
    background-color: white;
    box-shadow: 2;
    margin: 5% 10%;
    outline: none;
}

/* Modal Style in Homepage */
.modal-style {
    position: relative;
    top: 10%;
    /* overflow:scroll; */
    height:100%;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    overflow-x: hidden;
}

/* Modal Code */
.modal-card {
    /* border: 1px solid red; */
    height: 200px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    font-family: Montserrat;
    margin-bottom: 35px;
}

.modal-img {
    object-fit: cover;
    height: 100%;
    margin: 0;
    width: 200px;
    margin-right: 40px;
    background-color: #f1f1f1;
}

.modal-h1 {
    font-weight: 200;
    margin: 10px 0 0 0;
}

.modal-h2 {
    font-size: 18px;
}

.modal-p {
    font-size: 11px;
    margin: 0;
}

.modal-flex {
    display: flex;
        justify-content: space-between;
        align-items: center;
}

.modal-tracks {
    /* border: 1px dashed red; */
    width: 100%;
    padding: 0 40px;
}

.modal-li {
    /* margin-bottom: 10px; */
    display: flex;
        justify-content: space-between;
}

.modal-btn {
    margin-top: 20px;
}

.big-avatar{
    margin: 10;
    width: 60;
    height: 60;
}

.logout-modal{
    margin-top:15%;
    outline: none;
}