.navbar {
  height: 64px;
  position: fixed;
  width: 100%;
  background-color: #151515;
  padding: 0;
  position: relative;
}

.navbar-main {
  height: 100%;
  width: 100%;
  margin: 0 2%;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left p {
  color: white;
  margin: 0;
}

.navbar-right p {
  color: white;
  margin: 0;
}

.brand {
  position: absolute;
    right: calc(50% - 25px);
  color: white;
}