/* Splash */
.home-splash {
  height: 800px;
  background-image: url(../constants/images/background.png);
  background-color: #151515;
  background-position: bottom center;
  background-size: 115%;
  background-repeat: no-repeat;

  display: flex;
    align-items: center;
    justify-content: center;

  font-family: Montserrat;
}

.home-h1 {
  font-weight: 100;
  color: white;
}

/* Content */
.home-content {
  /* height: 400px; */
  /* border: 1px dashed red; */

  display: flex;
    align-items: center;
    flex-direction: column;
  background-color: #151515;

}

.home-h2 {
  margin: 40px 0;
  color: white;
  font-weight: bold;
}

.home-card {
  font-family: Montserrat;
  border: 1px solid #141414;
  /* margin: 0 4%; */
  width: 92%;
  height: 200px;
  margin-bottom: 40px;

  display: flex;

}

.home-card-img {
  /* border: 1px dashed yellow; */
  height: 100%;
  width: 200px;
  margin: 0;
  object-fit: cover;
}

.home-h3 {
  margin: 0;
  color: white;
  font-weight: 100;
  font-size: 40px;
}

.home-h4 {
  margin: 0;
  color: white;
  font-weight: 500;
  font-size: 24px;
}

.home-p {
  color: #707070;
  /* font-weight: 500; */
  font-size: 12px;
}

.home-card-text {
  /* border: 1px dashed yellow; */
  flex: 1;
  padding: 20px;
}

.home-card-button {
  /* border: 1px dashed yellow; */
  padding: 20px;
  width: 200px;
}

.home-button {
  width: 150px;
  margin-top: 36px;
}