/* Splash Section */
.home-splash {
  background-color: #151515;
  background-image: url(../constants/images/background.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 115%;


  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  font-family: Montserrat;
  width: 100%;
}

.home-gear {
  height: calc(340px / 2);
  width: calc(530px / 2);
  margin: 0;
}

.home-main-button {
  color: white;
  height: 100%;
  width: 100%;
  padding: 50px 70px;
}

.home-splash button{
  overflow: hidden;
}

.home-h1 {
  font-weight: 100;
  color: white;
}

/* Content Section */
.home-content {
  display: flex;
    align-items: center;
    flex-direction: column;
  background-color: #151515;
  padding-bottom: 25px;
  font-family: Montserrat;
}

.home-h2 {
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin: 40px 0;
  padding: 0 4%;
  text-align: center;
  width: 100%;
}

.home-card {
  font-family: Montserrat;
  width: 92%;
  height: 200px;
  margin-bottom: 40px;

  display: flex;

}

.home-card-img {
  height: 100%;
  width: 200px;
  margin: 0;
  object-fit: cover;
  background-color: #1b1b1b;
}

.home-h3 {
  margin: 0;
  color: white;
  font-weight: 100;
  font-size: 40px;
}

.home-h4 {
  margin: 0;
  color: white;
  font-weight: 500;
  font-size: 24px;
}

.home-p {
  color: #707070;
  font-size: 12px;
}

.home-card-text {
  flex: 1;
  padding: 20px;
}

.home-card-button {
  padding: 20px;
  width: 200px;
}

.home-button {
  width: 170px;
  margin-top: 36px;
}
