.landing {
  background-image: url(../constants/images/landing-background.png);
  background-color: black;
  /* opacity: 0.8; */
  background-size: cover;
  background-position: right center;
  display: flex;
    align-items: center;
    justify-content: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding: 0 4%;
  text-align: center;
}

.landing-container {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  /* height: 100%; */
  max-width: 600px;
  background-color: #000000a1;
  backdrop-filter: blur(12px);
  padding: 20px 4%;
  border-radius: 20px;
}

.form-logo {
  margin: 0;
  margin-bottom: 40px;
  height: 150px;
  width: auto;
}

.form-word-logo {
  height: 65px;
  width: 275px;
  margin-bottom: 40px;
}

.landing-h1 {
  font-size: 64px;
  letter-spacing: 8px;
  font-weight: bold;
  margin-bottom: 25px;
}

.landing-h3 {
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0 !important;
  margin-bottom: 30px !important;
}

.landing-h2 {
  font-size: 16px;
  font-weight: 100;
  margin: 0 !important;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.landing-h2 .counter{
  font-weight: 700;
}
.landing-h2 .join-now{
  display: block;
  margin: 15px 0;
  text-transform: uppercase;
}

.landing-form {
  margin: 40px 0;
  width: 500px;
  display: flex;
  overflow: hidden;
}

.landing-input {
  flex: 3;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border: none;
  margin-bottom: 0px !important;
}

.landing-button {
  flex: 1;
  border-radius: 0;
  margin-bottom: 0px;
  height: 45px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
