.landing {
  background-image: url(../constants/images/landing-background.png);
  background-color: black;
  /* opacity: 0.8; */
  background-size: cover;
  background-position: right center;
  display: flex;
    align-items: center;
    justify-content: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding: 0 4%;
}

.landing-container {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  /* height: 100%; */
  background-color: #000000a1;
  padding: 20px 4%;
  border-radius: 20px;
}

.form-logo {
  margin: 0;
}

.form-word-logo {
  height: 65px;
  width: 275px;
  margin-bottom: 40px;
}

.landing-h1 {
  font-size: 64px;
  letter-spacing: 8px;
  font-weight: bold;
  margin-bottom: 25px;
}

.landing-h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.landing-form {
  margin-top: 20px;
  margin-bottom: 0px;
  width: 500px;
  display: flex;
  overflow: hidden;
}

.landing-input {
  flex: 3;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
  margin-bottom: 0px;
}

.landing-button {
  flex: 1;
  border-radius: 0;
  margin-bottom: 0px;
  height: 45px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}