/* For Signup Page */

/* Import */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

/* Reset */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* Base */
.login {
  background-color: #f8f8f8;
  /* border: 1px solid red; */
  display: flex;
    justify-content: center;
    align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  padding: 15px 4%;
  width: 500px;
}

img {
  height: 100px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100px;
}

.h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

input[type="email"], input[type="password"], input[type="text"] {
  display: block;
  height: 45px;
  line-height: 200px;
  margin-bottom: 35px;
  padding: 6px 0 6px 16px;
  width: 100%;
}

.label {
  font-weight: bold;
  text-align: start;
  text-transform: uppercase;
  width: 100%;
}

.form-row {
  display: flex;
    justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #707070;
  background-image: linear-gradient(to right, #00c352, #00c698 79%, #00c7b8);
  cursor: pointer;
  color: #ffffff;
  border: none;
  height: 50px;
  /* border-radius: 5px; */
  border-radius: 35px;
  /* text-transform: uppercase; */
  margin-bottom: 20px;
  width: 200px;
}
